body{
  background:black;
  margin:0;
  padding:100px 0 0 0;
}
.canvas_container{
  position:relative;

  img{
    width:100%;
    position:relative;
    z-index:1;
  }

  canvas{
    display:block;
    width:100%;
    position:absolute;
    top:0;
    z-index:3;
  }
}